.header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.column {
    float: left;
}

.image {
    max-width: '20vw';
    max-height: '40vh';
}

.image.container {
    display: flex;
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    font-family: 'PT Serif', sans-serif;
    font-size: larger;
    text-align: start;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.592);
}


/* Left and right column */

.column.side {
    width: 25%;
}


/* Middle column */

.column.middle {
    width: 50%;
}

.card_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card_layout {
    border-radius: 1rem;
    box-shadow: 0px 1rem 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 40%;
    background-color: #cfe8e8;
    cursor: pointer;
}

.a_card {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.description_card {
    white-space: pre-line;
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header_main_page {
    /* Header/Blog Title */
    padding: 30px;
    text-align: center;
    background: white;
}

.header_main_page h1 {
    font-size: 50px;
}

.header_main_page_sub_title {
    font-size: 50px;
}

.image_card {
    margin-top: 1rem;
    border-radius: 10px;
    border: 0.5rem double #B8860B;
    min-width: 1rem;
    max-height: 15rem;
}

.row {
    display: table;
    clear: both;
}

.row_footer {
    display: flex;
}

.grid_btn {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: rgb(172, 169, 169);
    margin-top: 1rem;
    background-color: rgb(242, 240, 236);
    width: 40vw;
    /* width: inherit; */
    display: inline-block;
}

.btn_next {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    width: 60%;
    height: 7vh;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn_prev {
    background-color: #dd8323;
    /* orange */
    border: none;
    padding: 10px 32px;
    color: white;
    text-align: center;
    width: 30%;
    height: 7vh;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.logo {
    max-width: 10rem;
    max-height: 10rem;
    text-align: left;
}

.footer {
    margin-top: 1rem;
    background-color: #444;
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-basic {
    /* padding: 40px 0; */
    justify-content: space-around;
    color: #e5e9ed;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column.side,
    .column.middle {
        width: 100%;
    }
    .btn_next {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 5px 12px;
        text-align: center;
        width: 60%;
        height: 7vh;
        text-decoration: none;
        display: inline-block;
        font-size: 5px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .btn_prev {
        background-color: #dd8323;
        /* orange */
        border: none;
        padding: 5px 12px;
        color: white;
        text-align: center;
        width: 30%;
        height: 7vh;
        text-decoration: none;
        display: inline-block;
        font-size: 5px;
        margin: 4px 2px;
        cursor: pointer;
    }
}