.header {
    display: flex;
    width: 50%;
    justify-content: center;
}

.column {
    float: left;
}


/* Left and right column */

.column.side {
    width: 25%;
}


/* Middle column */

.column.middle {
    width: 50%;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.row_footer {
    display: flex;
    justify-content: center;
}

.btn_next {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width: 40%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.grid_btn {
    display: flex;
    justify-content: space-around;
}

.footer {
    width: 45vw;
    text-align: center;
    background: rgb(221, 221, 221);
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column.side,
    .column.middle {
        width: 100%;
    }
}