.header {
    display: flex;
    width: 50%;
    justify-content: center;
}

.column {
    float: left;
}


/* Left and right column */

.column.side {
    width: 25%;
}


/* Middle column */

.column.middle {
    width: 50%;
}

.card_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card_layout {
    border-radius: 1rem;
    box-shadow: 0px 1rem 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 40%;
    background-color: #cfe8e8;
    cursor: pointer;
}

.a_card {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.description_card {
    white-space: pre-line;
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header_main_page {
    /* Header/Blog Title */
    padding: 30px;
    text-align: center;
    background: white;
}

.header_main_page h1 {
    font-size: 50px;
}

.header_main_page_sub_title {
    font-size: 50px;
}

.image_card {
    margin-top: 1rem;
    border-radius: 10px;
    border: 0.5rem double #B8860B;
    min-width: 1rem;
    max-height: 15rem;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.row_footer {
    display: flex;
    justify-content: center;
}

.btn_next {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width: 40%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.grid_btn {
    display: flex;
    justify-content: space-around;
}

.footer {
    width: 45vw;
    text-align: center;
    background: rgb(221, 221, 221);
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column.side,
    .column.middle {
        width: 100%;
    }
}